<ion-header>
  <ion-toolbar>
    <div class="header">
      <ion-icon name="chevron-back-outline" style="padding:0px"></ion-icon>
      <p>Back to Demand</p>
    </div>
    <ion-icon name="ellipsis-vertical-outline" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="height">
</div>
<div class="row">
  <ion-row>
    <ion-col style="background:#10F3C0; border-radius: 15px;" class="ion-text-center">
      <img src="./assets/icon/img1.png" alt="">
    </ion-col>
    <ion-col class="ion-text-center">
      <img src="./assets/icon/img2.png" alt="">
    </ion-col>
    <ion-col class="ion-text-center">
      <img src="./assets/icon/img3.png" alt="">
    </ion-col>
  </ion-row>
</div>
<div class="icon">
  <ion-icon name="chevron-forward-outline"></ion-icon>
</div>
<div class="btn">
  <ion-button>Contact Match</ion-button>
</div>
<ion-row class="mainRow">
  <ion-label>Property type</ion-label>
  <ion-label style="font-weight:400">Area, City <img src="./assets/icon/image 4.png" alt=""></ion-label>
</ion-row>
<ion-row class="middelRow" style="margin-top:1rem; margin-bottom:1rem">
  <ion-col>
    <img src="./assets/icon/green2.png" alt="">
    <ion-label>#</ion-label>
  </ion-col>
  <ion-col>
    <img src="./assets/icon/cardcar.png" alt="">
    <ion-label>#</ion-label>
  </ion-col>
  <ion-col>
    <img src="./assets/icon/cardicon1.png" alt="">
    <ion-label>#</ion-label>
  </ion-col>
  <ion-col>
    <img src="./assets/icon/green1.png" alt="">
    <ion-label>#</ion-label>
  </ion-col>
  <ion-col>
    <img src="./assets/icon/cardicon4.png" alt="">
    <ion-label>#</ion-label>
  </ion-col>
</ion-row>
<ion-row class="card-text">
  <ion-col>
    <ion-card>
      <p>Πωλείται</p>
      <h4>xx.xxx.xxx €</h4>
      <h6>(συζητήσιμη)</h6>
      <div class="border"></div>
      <p style="margin-top:10px">Ενοικιάζεται</p>
      <ion-label>xxx.xxx €/m2 </ion-label><br>
      <span>(συζητήσιμη)</span>
    </ion-card>
  </ion-col>
  <ion-col>
    <ion-card>
      <p style="margin-bottom:6px">Έξοδα ακινήτου:</p>
      <ion-row class="inner-row" >
        <ion-checkbox checked="true"></ion-checkbox>
        <ion-text>ΕΝΦΙΑ:</ion-text>
        <span style="padding-left:4px">xxx.xxx,xx € </span>
      </ion-row>
      <ion-row class="inner-row" >
        <ion-checkbox checked="true"></ion-checkbox>
        <ion-text> Κοινόχρηστα</ion-text>
      </ion-row>
      <ion-row class="inner-row">
        <ion-checkbox checked="true"></ion-checkbox>
        <ion-text>Νερό:</ion-text>
      </ion-row>
      <ion-row class="inner-row">
        <ion-checkbox checked="true"></ion-checkbox>
        <ion-text>Ρεύμα:</ion-text>
      </ion-row>
      <div class="ion-text-center">
        <h3>Δεν συμπεριλαμβάνονται στο μίσθωμα</h3></div>
    </ion-card>
  </ion-col>
</ion-row>
<div class="background">
<ion-row>
  <ion-col>
    <h1>Characteristics</h1>
  </ion-col>
  <ion-col>
    <h2>Location</h2>
  </ion-col>
  <ion-col>
    <h2>Details</h2>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col style="background: rgba(16, 243, 192, 1)"></ion-col>
  <ion-col  style="background:rgba(27, 46, 74, 1)"></ion-col>
  <ion-col  style="background:rgba(27, 46, 74, 1)"></ion-col>
</ion-row>
<ion-card class="secondCard">
  <ion-row>
    <ion-col>
        <ion-label>Τύπος ιδιοκτησίας: Έτος </ion-label><br>
        <ion-label>Έτος κατασκευής:</ion-label><br>
        <ion-label>Υπνοδωμάτια:</ion-label><br>
        <ion-label> Τουαλέτες:</ion-label><br>
        <ion-label> Βεράντα:</ion-label>
    </ion-col>
    <ion-col>
        <ion-label>Όροφος:</ion-label><br>
        <ion-label>Εμβαδόν: </ion-label><br>
        <ion-label>Μπάνια:</ion-label><br>
        <ion-label>Θέσειςστάθμευσης:</ion-label><br>
        <ion-label>Προσανατολισμός:</ion-label>
    </ion-col>
  </ion-row>
</ion-card>
<div class="card-btn"> 
  <div ><ion-icon name="remove-outline"></ion-icon><ion-label> Περισσότερα Χαρακτηριστικά</ion-label></div>
 </div> 
<ion-card class="third-card" >
  <ion-row class="upperRow">
    <ion-col>
          <ion-checkbox checked="true"></ion-checkbox>
          <ion-text>Οροφοδιαμέρισμα</ion-text><br>
          <ion-checkbox checked="true"></ion-checkbox>
          <ion-text>  Γωνιακό</ion-text><br>
          <ion-checkbox checked="true"></ion-checkbox>
          <ion-text> Εσωτερικό <span>Κουφώματα:</span></ion-text><br>
          <ion-checkbox checked="true"></ion-checkbox>
          <ion-text>Ασανσέρ</ion-text><br>
          <ion-checkbox checked="true"></ion-checkbox>
          <ion-text> Θυροτηλεόραση</ion-text><br>
          <ion-checkbox checked="true"></ion-checkbox>
          <ion-text> Ηλεκτρικές,συσκευές</ion-text><br>
          <ion-checkbox checked="true"></ion-checkbox>
          <ion-text> Κήπος </ion-text><br>
          <ion-checkbox checked="true"></ion-checkbox>
          <ion-text>Smart home</ion-text><br>
          <ion-checkbox checked="true"></ion-checkbox>
          <ion-text>Αποθηκευτικός χώρος</ion-text><br>
    </ion-col>
    <ion-col >
        <ion-checkbox checked="true"></ion-checkbox>
        <ion-text>Πολύ φωτεινό</ion-text><br>
        <ion-checkbox checked="true"></ion-checkbox>
        <ion-text>  Διαμπερές</ion-text><br>
        <ion-checkbox checked="true"></ion-checkbox>
        <ion-text>Προσόψεως<br> Πάτωμα:</ion-text><br>
        <ion-checkbox checked="true"></ion-checkbox>
        <ion-text>Αποθήκη</ion-text><br>
        <ion-checkbox checked="true"></ion-checkbox>
        <ion-text>Επιπλωμένο</ion-text><br>
        <ion-checkbox checked="true"></ion-checkbox>
        <ion-text> Πόρτα ασφαλείας</ion-text><br>
        <ion-checkbox checked="true"></ion-checkbox>
        <ion-text> Πισίνα</ion-text><br>
        <ion-checkbox checked="true"></ion-checkbox>
        <ion-text> Sauna/Jacuzzi</ion-text><br>
        <ion-checkbox checked="true"></ion-checkbox>
        <ion-text>Τέντες</ion-text><br>
        <ion-checkbox checked="true"></ion-checkbox>
        <ion-text> Εσωτερική πισίνα</ion-text><br>
  </ion-col>
  </ion-row>
</ion-card>
  <div class="last-div">
  <div class="btn-1">
    <ion-icon name="add-outline"></ion-icon>
    <ion-label>Επιλογές θέρμανσης & ψύξης</ion-label>
  </div>
  <div class="btn-1">
    <ion-icon name="add-outline"></ion-icon>
    <ion-label>Κτίριο</ion-label>
  </div>
</div>
<div class="footer">
  <ion-label>
    <ion-icon name="chevron-up-outline"></ion-icon>Back to top</ion-label>
</div>
</div>
</ion-content>
