<ion-header>
  <ion-toolbar>
    <ion-title >
      <img src="./assets/icon/home.png">
    </ion-title>
      <ion-icon slot="end" name="ellipsis-vertical-outline"></ion-icon>    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="text-Left">
    <h2>My Properties:<span>tap to manage</span></h2>
  </ion-row>
  <ion-row class="main-Row">
    <ion-segment [(ngModel)]="segment" mode="md">
      <ion-segment-button value="1" class="mt-2">
        <ion-label>Matched</ion-label>
      </ion-segment-button>
      <ion-segment-button value="2" class="mt-2">
        <ion-label>Pending</ion-label>
      </ion-segment-button>
    </ion-segment>
   
    <div [ngSwitch]="segment">
      <div class="sort-text">
        <p>Sort</p>
        <ion-icon name="chevron-down-outline"></ion-icon>
      </div>
      <div *ngSwitchCase="1">
        <div style="position:relative"> 
          <small class="possigition">NEW</small>
        </div>
        <ion-card routerLink="/tabs/mypropertieschat">
          <ion-row style="margin-top:10px">
             <ion-label>Property Name - tap here to View</ion-label>
             <ion-text>Matched <ion-checkbox checked="true"></ion-checkbox></ion-text>
           </ion-row>
           <ion-row>
             <ion-label>#id</ion-label>
             <ion-text style="text-decoration:underline; font-weight: 400;">View matches</ion-text>
           </ion-row>
           <div></div>
         <div style="display:flex;margin-top:10px;">
           <div class="div-color">
           </div>
           <div class="area">
             <h3>Area, City</h3>
             <h4>Property-availability</h4>
             <div class="row-center">
               <ion-label style= >Field area: <span >xxx m2</span></ion-label>
               <ion-label style="padding-left: 7vw">TBC: <span>lorem ipsun</span> </ion-label>
             </div>
             <ion-row class="middelRow" style="margin-top:5px;margin-bottom:4px;margin-left:0px;">
               <ion-col >
                 <img src="./assets/icon/cardcar.png" alt="">
               <ion-label>#</ion-label>
             </ion-col>
               <ion-col>
                 <img src="./assets/icon/cardicon1.png" alt="">
                 <ion-label>#</ion-label></ion-col>
               <ion-col  size="3">
                 <img src="./assets/icon/cardicon3.png" alt="">
                 <ion-label>#</ion-label>
               </ion-col>
               <ion-col  size="3">
                 <img src="./assets/icon/cardicon4.png" alt="">
                 <ion-label>#</ion-label>
               </ion-col>
             </ion-row>
             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
           </div>
         </div>
         <ion-row class="upperRow" style="margin:8px 1rem">
           <h2>xx.xxx.xxx €</h2>
           <h1>Edit Property</h1>
         </ion-row>
         </ion-card>
         <ion-card>
          <ion-row style="margin-top:10px">
             <ion-label>Property Name - tap here to View</ion-label>
             <ion-text>Matched <ion-checkbox checked="true"></ion-checkbox></ion-text>
           </ion-row>
           <ion-row>
             <ion-label>#id</ion-label>
             <ion-text style="text-decoration:underline; font-weight: 400;">View matches</ion-text>
           </ion-row>
           <div></div>
         <div style="display:flex;margin-top:10px;">
           <div class="div-color">
           </div>
           <div class="area">
             <h3>Area, City</h3>
             <h4>Property-availability</h4>
             <div class="row-center">
               <ion-label style= >Field area: <span >xxx m2</span></ion-label>
               <ion-label style="padding-left: 7vw">TBC: <span>lorem ipsun</span> </ion-label>
             </div>
             <ion-row class="middelRow" style="margin-top:5px;margin-bottom:4px;margin-left:0px;">
               <ion-col >
                 <img src="./assets/icon/cardcar.png" alt="">
               <ion-label>#</ion-label>
             </ion-col>
               <ion-col>
                 <img src="./assets/icon/cardicon1.png" alt="">
                 <ion-label>#</ion-label></ion-col>
               <ion-col  size="3">
                 <img src="./assets/icon/cardicon3.png" alt="">
                 <ion-label>#</ion-label>
               </ion-col>
               <ion-col  size="3">
                 <img src="./assets/icon/cardicon4.png" alt="">
                 <ion-label>#</ion-label>
               </ion-col>
             </ion-row>
             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
           </div>
         </div>
         <ion-row class="upperRow" style="margin:8px 1rem">
           <h2>xx.xxx.xxx €</h2>
           <h1>Edit Property</h1>
         </ion-row>
         </ion-card>
         <ion-card>
          <ion-row style="margin-top:10px">
             <ion-label>Property Name - tap here to View</ion-label>
             <ion-text>Matched <ion-checkbox checked="true"></ion-checkbox></ion-text>
           </ion-row>
           <ion-row>
             <ion-label>#id</ion-label>
             <ion-text style="text-decoration:underline; font-weight: 400;">View matches</ion-text>
           </ion-row>
           <div></div>
         <div style="display:flex;margin-top:10px;">
           <div class="div-color">
           </div>
           <div class="area">
             <h3>Area, City</h3>
             <h4>Property-availability</h4>
             <div class="row-center">
               <ion-label style= >Field area: <span >xxx m2</span></ion-label>
               <ion-label style="padding-left: 7vw">TBC: <span>lorem ipsun</span> </ion-label>
             </div>
             <ion-row class="middelRow" style="margin-top:5px;margin-bottom:4px;margin-left:0px;">
               <ion-col >
                 <img src="./assets/icon/cardcar.png" alt="">
               <ion-label>#</ion-label>
             </ion-col>
               <ion-col>
                 <img src="./assets/icon/cardicon1.png" alt="">
                 <ion-label>#</ion-label></ion-col>
               <ion-col  size="3">
                 <img src="./assets/icon/cardicon3.png" alt="">
                 <ion-label>#</ion-label>
               </ion-col>
               <ion-col  size="3">
                 <img src="./assets/icon/cardicon4.png" alt="">
                 <ion-label>#</ion-label>
               </ion-col>
             </ion-row>
             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
           </div>
         </div>
         <ion-row class="upperRow" style="margin:8px 1rem">
           <h2>xx.xxx.xxx €</h2>
           <h1>Edit Property</h1>
         </ion-row>
         </ion-card>
      </div>
      <div *ngSwitchCase="2">
         <div style="position:relative"> 
      <small class="possigition">NEW</small>
    </div>
  <ion-card routerLink="/tabs/mypropertycharacterstics">
          <ion-row style="margin-top:10px">
             <ion-label>Property Name - tap here to View</ion-label>
             <ion-text>Matched <ion-checkbox checked="true"></ion-checkbox></ion-text>
           </ion-row>
           <ion-row>
             <ion-label>#id</ion-label>
             <ion-text style="text-decoration:underline; font-weight: 400;">View matches</ion-text>
           </ion-row>
           <div></div>
         <div style="display:flex;margin-top:10px;">
           <div class="div-color">
           </div>
           <div class="area">
             <h3>Area, City</h3>
             <h4>Property-availability</h4>
             <div class="row-center">
               <ion-label style= >Field area: <span >xxx m2</span></ion-label>
               <ion-label style="padding-left: 7vw">TBC: <span>lorem ipsun</span> </ion-label>
             </div>
             <ion-row class="middelRow" style="margin-top:5px;margin-bottom:4px;margin-left:0px;">
               <ion-col >
                 <img src="./assets/icon/cardcar.png" alt="">
               <ion-label>#</ion-label>
             </ion-col>
               <ion-col>
                 <img src="./assets/icon/cardicon1.png" alt="">
                 <ion-label>#</ion-label></ion-col>
               <ion-col  size="3">
                 <img src="./assets/icon/cardicon3.png" alt="">
                 <ion-label>#</ion-label>
               </ion-col>
               <ion-col  size="3">
                 <img src="./assets/icon/cardicon4.png" alt="">
                 <ion-label>#</ion-label>
               </ion-col>
             </ion-row>
             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
           </div>
         </div>
         <ion-row class="upperRow" style="margin:8px 1rem">
           <h2>xx.xxx.xxx €</h2>
           <h1>Edit Property</h1>
         </ion-row>
         </ion-card>
         <ion-card>
          <ion-row style="margin-top:10px">
             <ion-label>Property Name - tap here to View</ion-label>
             <ion-text>Matched <ion-checkbox checked="true"></ion-checkbox></ion-text>
           </ion-row>
           <ion-row>
             <ion-label>#id</ion-label>
             <ion-text style="text-decoration:underline; font-weight: 400;">View matches</ion-text>
           </ion-row>
           <div></div>
         <div style="display:flex;margin-top:10px;">
           <div class="div-color">
           </div>
           <div class="area">
             <h3>Area, City</h3>
             <h4>Property-availability</h4>
             <div class="row-center">
               <ion-label style= >Field area: <span >xxx m2</span></ion-label>
               <ion-label style="padding-left: 7vw">TBC: <span>lorem ipsun</span> </ion-label>
             </div>
             <ion-row class="middelRow" style="margin-top:5px;margin-bottom:4px;margin-left:0px;">
               <ion-col >
                 <img src="./assets/icon/cardcar.png" alt="">
               <ion-label>#</ion-label>
             </ion-col>
               <ion-col>
                 <img src="./assets/icon/cardicon1.png" alt="">
                 <ion-label>#</ion-label></ion-col>
               <ion-col  size="3">
                 <img src="./assets/icon/cardicon3.png" alt="">
                 <ion-label>#</ion-label>
               </ion-col>
               <ion-col  size="3">
                 <img src="./assets/icon/cardicon4.png" alt="">
                 <ion-label>#</ion-label>
               </ion-col>
             </ion-row>
             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
           </div>
         </div>
         <ion-row class="upperRow" style="margin:8px 1rem">
           <h2>xx.xxx.xxx €</h2>
           <h1>Edit Property</h1>
         </ion-row>
         </ion-card>
         <ion-card>
          <ion-row style="margin-top:10px">
             <ion-label>Property Name - tap here to View</ion-label>
             <ion-text>Matched <ion-checkbox checked="true"></ion-checkbox></ion-text>
           </ion-row>
           <ion-row>
             <ion-label>#id</ion-label>
             <ion-text style="text-decoration:underline; font-weight: 400;">View matches</ion-text>
           </ion-row>
           <div></div>
         <div style="display:flex;margin-top:10px;">
           <div class="div-color">
           </div>
           <div class="area">
             <h3>Area, City</h3>
             <h4>Property-availability</h4>
             <div class="row-center">
               <ion-label style= >Field area: <span >xxx m2</span></ion-label>
               <ion-label style="padding-left: 7vw">TBC: <span>lorem ipsun</span> </ion-label>
             </div>
             <ion-row class="middelRow" style="margin-top:5px;margin-bottom:4px;margin-left:0px;">
               <ion-col >
                 <img src="./assets/icon/cardcar.png" alt="">
               <ion-label>#</ion-label>
             </ion-col>
               <ion-col>
                 <img src="./assets/icon/cardicon1.png" alt="">
                 <ion-label>#</ion-label></ion-col>
               <ion-col  size="3">
                 <img src="./assets/icon/cardicon3.png" alt="">
                 <ion-label>#</ion-label>
               </ion-col>
               <ion-col  size="3">
                 <img src="./assets/icon/cardicon4.png" alt="">
                 <ion-label>#</ion-label>
               </ion-col>
             </ion-row>
             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
           </div>
         </div>
         <ion-row class="upperRow" style="margin:8px 1rem">
           <h2>xx.xxx.xxx €</h2>
           <h1>Edit Property</h1>
         </ion-row>
         </ion-card>
        </div>
      </div>
  </ion-row>
 



<ion-row class="footerRow">
  <h1>View All</h1>
  <ion-text> <ion-icon name="chevron-up-outline"></ion-icon>Back to top</ion-text>
</ion-row>
<div style="height:2vh"></div>
</ion-content>
