ion-toolbar {
    padding: 10px;
    max-height: 3rem;
    text-align: center;

    ion-icon {
        color: #000000;
    }
}

ion-content {
    .text-Left {
        margin: 5px 1rem;

        h2 {
            font-size: 13px;
            font-weight: 700;
            color: #1B2E4A;

            span {
                font-size: 12px;
                font-weight: 400;
                color: #818181;
                padding-left: 3px;
            }
        }
    }

    .main-Row {
        margin: 0px 1rem;
        justify-content: space-between;

        ion-label {
            font-size: 16px;
            font-weight: 700;
            color: #1B2E4A;
        }

        ion-text {
            font-size: 17px;
            font-weight: 400;
            color: #1B2E4A;
        }
    }

    .row-color {
        margin: 0px 1rem;

        ion-col {
            background: #10F3C0;
            padding: 2px;
            border-radius: 50px;
        }

        #color {
            background: #1B2E4A;
            padding: 2px;
        }
    }

    .sort-text {
        display: flex;
        align-items: center;
        margin: 14px 1rem;

        p {
            margin: 0px;
            font-size: 12px;
            font-weight: 700;
            color: #141414;
        }

        ion-icon {
            font-size: 10px;
            padding-left: 3px;
            color: rgba(20, 20, 20, 1);
        }
    }

    small{
        background: #FFB800;
        border-radius: 20px;
        font-weight: 700;
        font-size: 12px;
        line-height: 9px;
        color: #FFFFFF;
        position: absolute;
        padding: 6px 13px;
        top: -14px;
        right: 6px;
        z-index: 9999;
        right: 12px;
    }

    ion-card {
        background: #FFFFFF;
        height: 27vh;
        width: auto;
        margin: 16px 1rem;
        border-radius: 5px;

        ion-row {
            margin: 0px 1rem;
            align-items: center;
            justify-content: space-between;
        }

        ion-label {
            font-size: 11px;
            font-weight: 700;
            color: #818181;

        }

        ion-text {
            font-size: 11px;
            font-weight: 700;
            color: rgba(27, 46, 74, 1);
        }

        ion-checkbox {
            height: 15px;
            width: 15px;
            vertical-align: bottom;
            --border-radius: 50px;
            --background-checked: #10F3C0;
            --border-color-checked: #10F3C0;
            margin-left: 5px;
        }
    }

    .div-color {
        height: 88px;
        width: 154px;
        background: #D9D9D9;
        margin-left: 1rem;
    }

    .middelRow {
        ion-col {
            background: rgba(16, 243, 192, 0.2);
            border-radius: 6px;
            padding: 4px 4px;
            display: flex;
            align-items: center;
            margin-right: 3px;
        }

        img {
            height: 10px;
            width: 12px;
            // padding-right: 3px;
            margin-right: 3px;

        }
    }

    .area {
        padding-left: 10px;
        h3 {
            font-size: 12px;
            font-weight: 400;
            color: #000000;
            margin: 0px;
        }
        h4 {
            font-size: 10px;
            font-weight: 400;
            color: #818181;
            margin: 0px;
        }
        .row-center{
            ion-label{
                color:#10F3C0;
                font-size: 9px;
            }
            span{
                color: rgba(192, 192, 192, 1)
            }

        }
    }

    .border {
        border: 1px solid;
        padding: 2px 11px;
        background: rgba(16, 243, 192, 0.2);
        border-radius: 6px;
    }

    p {
        font-style: normal;
        font-weight: 400;
        font-size: 9px;
        line-height: 9px;
        color: #818181;
        margin: 0px;
        margin-right: 1rem;
    }

    .upperRow {
        h2 {
            font-size: 15px;
            font-weight: 700;
            color: #000000;
            margin: 0px;
        }

        h1 {
            font-size: 11px;
            font-weight: 400;
            font-style: italic;
            color: #1B2E4A;
            margin: 0px;
            text-decoration: underline;
        }
    }

    .footerRow {
        margin: 18px 1rem;
        justify-content: space-between;

        h1 {
            font-size: 13px;
            font-weight: 400;
            color: #818181;
            margin: 0px;
            text-decoration: underline;
        }

        ion-text {
            font-size: 10px;
            color: #818181;
        }

        ion-icon {
            // vertical-align: bottom;
            padding-right: 4px;
        }
    }
}