<ion-header>
  <ion-toolbar>
    <ion-title>
      <div class="Header">
        <ion-icon name="chevron-back-outline"></ion-icon>
        <ion-label>Save</ion-label>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="mainDiv">
    <h2>Add New Property</h2>
    <ion-label>Add a new property in 4 easy steps (tap to fill in)</ion-label>
  </div>
    <ion-row>
      <p>Step 1/4 - Characteristics</p>
      <div class="check-box-div"  style="background: #10F3C0; border:none">
      <ion-checkbox checked="true" style=" margin:0px;--background-checked:#10F3C0;
      --border-color-checked:#10F3C0; --checkmark-color: white;" ></ion-checkbox>
      </div>
    </ion-row>
    <ion-row class="mainRow">
      <p>Step 2/4 - Location</p>
      <div class="check-box-div"  style="background: #10F3C0; border:none">
        <ion-checkbox checked="true" style=" margin:0px;--background-checked:#10F3C0;;
        --border-color-checked:#10F3C0;; --checkmark-color: white;" ></ion-checkbox>
        </div>
    </ion-row>
    <ion-row class="mainRow">
      <h3>Step 3/4 - Price and Availabilitys</h3>
      <div  class="check-box-div"  style="background: #10F3C0; border:none">
        <ion-checkbox checked="true" class="custom-check-box"  style=" margin:0px;--background-checked:#10F3C0;
        --border-color-checked:#10F3C0; --checkmark-color: white;"></ion-checkbox>
      </div>
    </ion-row>
    <ion-row class="mainRow">
      <p>Step 4/4 - Media</p>
      <div  class="check-box-div"  style="background: #FFB800; border:none">
        <ion-checkbox checked="true" class="custom-check-box" style=" margin:0px;--background-checked:#FFB800;
        --border-color-checked:#FFB800; --checkmark-color: white;"></ion-checkbox>
      </div>
    </ion-row>
  <div class="border"></div>
  <ion-text>1. Φωτογραφίες <span>(Συνιστούμε λήψεις με οριζόντιο προσανατολισμό)</span></ion-text>
    <ion-button expand="block">Προσθέστε εώς x φωτογραφίες (png, jpeg, mkv, pdf)  </ion-button>
    <ion-row class="boxes">
      <ion-col size="6">
        <div></div>
      </ion-col>
      <ion-col size="6">
        <div></div>
      </ion-col>
    </ion-row>
    <ion-row class="boxes">
      <ion-col size="6">
        <div></div>
      </ion-col>
      <ion-col size="6" >
        <div></div>
      </ion-col>
    </ion-row>
    <div class="border"></div>
    <ion-text> 2. Video  <span>(Συνιστούμε λήψεις με οριζόντιο προσανατολισμό)</span></ion-text>
    <ion-button expand="block">Προσθέστε εώς x αρχεία βίντεο (png, jpeg, mkv, pdf)</ion-button>
    <ion-row class="boxes">
      <ion-col size="6">
        <div></div>
      </ion-col>
      <ion-col size="6">
        <div></div>
      </ion-col>
    </ion-row>
    <ion-row class="boxes">
      <ion-col size="6">
        <div></div>
      </ion-col>
      <ion-col size="6" >
        <div></div>
      </ion-col>
    </ion-row>
    <div class="border"></div>
    <ion-text>2. Λοιπά αρχεία )<span>(π.χ. Πιστοποιητικό Ενεργειακής Απόδοσης ΠΕΑ, ή Κατόψεις Ακινήτου</span></ion-text>
      <ion-button expand="block">Προσθέστε εώς x αρχεία (png, jpeg, mkv, pdf)  </ion-button>
    <ion-row class="boxes">
      <ion-col size="6">
        <div></div>
      </ion-col>
      <ion-col size="6">
        <div></div>
      </ion-col>
    </ion-row>
    <ion-row class="boxes">
      <ion-col size="6">
        <div></div>
      </ion-col>
      <ion-col size="6" >
        <div></div>
      </ion-col>
    </ion-row>
    <ion-row class="footerRow">
      <ion-label  routerLink="/tabs/addnewpropertyprice"><ion-icon name="chevron-back-outline"></ion-icon>Previous Step</ion-label>
      <ion-label>Finish & View Property<ion-icon name="chevron-forward-outline"></ion-icon></ion-label>
    </ion-row>
  </ion-content>
  <ion-footer>
    <div class="footer">
      <ion-icon name="chevron-up-outline"></ion-icon>Back to top
    </div>
  </ion-footer>
