<ion-content>
  
  <div class="content">
    <h2>Hello, [username]!</h2>
    <p>Let's quickly setup your account</p>
    <ion-label>I am a:</ion-label>
  </div>
  <div class="mainDiv">
    <ion-button routerLink="/myprofilecompanyaccount">Company</ion-button>
    <ion-button class="btn" routerLink="/myprofile">Individual</ion-button>
  </div>
  <div class="center"> 
    <ion-label>STEP 1/3</ion-label>
    <p style="margin-top: 1rem"  routerLink="/login">Back to start</p>
  </div>

</ion-content>