ion-header {
    .header {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .box {
        margin-left: 6px;
        height: 33px;
        width: 55px;
        background: #D9D9D9;
    }

    .header-icon {
        display: flex;
        align-items: center;
        padding: 10px;

        ion-icon {
            color: rgba(27, 46, 74, 1);
            font-size: 23px;
        }
    }
    .headerTitle {
        margin-left: 6px;
        h1, h2 {
            font-size: 14px;
            font-weight: 700;
            color: #000000;
            margin: 0px;
        }
        h2 {
            color: #1B2E4A;
            margin-top: 3px;
            font-weight: 400;
        }
    }
    ion-button {
        --background: #10F3C0;
        --border-radius: 100px;
        font-size: 12px;
        color: white;
        font-weight: 700;
        margin-right: 1rem;
    }
}
ion-content {
    background: linear-gradient(180deg,#f5f5f5 -39.99%,rgba(255,255,255,0) 71.14%);
}
ion-footer {
    .mainDiv {
        display: flex;
        align-items: center;
        margin: 10px 1rem;
        div {
            height: 30px;
            width: 30px;
            border-radius: 50%;
            background: #818181;
            margin-left: 5px;
        }
        ion-input {
            border-radius: 100px;
            background: #D9D9D9;
            font-weight: 400;
            margin-left: 1rem;
            margin-right: 1rem;
            --placeholder-color:white;
            --placeholder-opacity: 1;
        }
    }
}
