ion-title {
    padding: 0px 1rem;
    .Header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        ion-icon {
            color: #1B2E4A;
        }
        ion-label {
            font-weight: Bold;
            font-size: 13px;
            Line-height: 16px;
            Line-height: 100%;
            color: #1B2E4A;
        }
    }
}
ion-content {
    .mainDiv {
        background: #F5F5F5;
        padding: 18px;
    }
    h2 {
        font-size: 17px;
        font-weight: bold;
        line-height: 22px;
        margin: 0px;
    }
    ion-label {
        color: #818181;
        font-size: 12px;
        Line-height: 14px;
        font-weight: 400;
    }
    .middelDiv {
        border-bottom: 10px solid;
        border-color: #F5F5F5;
        margin-top: 1rem;
        margin-bottom: 1rem;
        ion-row {
            justify-content: space-between;
            align-items: center;
            margin: 10px 1rem;
            h3 {
                margin: 0px;
                font-size: 13px;
                Line-height: 18px;
                Line-height: 100%;
                text-Align: Left;
                font-weight: 700;
            }
            .check-box-div {
                height: 20px;
                width: 20px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid black;
            }
            .custom-check-box {
                margin: 0px;
                --border-radius: 40px;
                height: 15px;
                width: 15px;
                --background-checked: white;
                --border-color-checked: white;
                --checkmark-color: black;
                border-radius: 8px;
                --background: white;
                --border-color: white;
            }
            ion-checkbox {
                --border-radius: 40px;
                height: 15px;
                width: 15px;
                margin-top: 6px;
                --background-checked: white;
                --border-color-checked: #FFB800;
                --checkmark-color: #FFB800;
                border-radius: 8px;
            }
            p {
                margin: 0px;
                font-weight: 400;
                font-size: 13px;
                line-height: 100%;
            }
        }
    }

    .text {
        padding-left: 1rem;
        font-size: 13px;
        font-style: italic;
        font-weight: 400;
        line-height: 15px;
        color: #000000;
        span {
            color: rgba(255, 0, 0, 1);
        }
    }
    ion-item {
        border: 1px solid #1B2E4A;
        border-radius: 10px;
        margin: 0px;
        max-height: 35px;
        margin-top: 4px;
    }
    .middelRow {
        margin: 6px 1rem;
            // padding-left: 1rem;
            margin-top: 1rem;
        ion-col{
            padding: 0px 3px;
        }
        ion-item {
            border: 1px solid #1B2E4A;
            border-radius: 10px;
            margin: 0px;
            max-height: 35px;
            margin-top: 4px;
        }
        ion-label {
            font-size: 13px;
            font-weight: 400;
            color: rgba(0, 0, 0, 1);
        }
        span {
            color: rgba(255, 0, 0, 1);
        }
        ion-input {
            border: 1px solid;
            border-radius: 10px;
            font-size: 13px;
            font-weight: 400;
            margin-top: 5px;
            margin-bottom: 10px;
            --placeholder-color: #1B2E4A;
            --placeholder-opacity: 1;
        }
        #input-margin {
            margin-bottom: 0px;
        }
        .input-text {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: 1px solid;
            border-radius: 10px;
            margin-top: 5px;
            padding: 8px 10px;
            font-size: 13px;
            font-weight: 400;
            color: rgba(129, 129, 129, 1);
        }
    }
    .upperRow {
        align-items: center;
        display: flex;
        margin: 6px 1rem;
        #colum {
            display: flex;
            align-items: center;
            padding: 0px;
            ion-label {
                font-size: 10px;
                font-weight: 400;
                color: #1B2E4A;
            }
        }
        #font-size {
            font-size: 12px;
        }
        ion-checkbox {
            height: 15px;
            width: 15px;
            --background-checked: #10F3C0;
            --border-color-checked: #10F3C0;
        }
        ion-label {
            font-size: 16px;
            color: #1B2E4A;
            font-weight: 400;
            padding-top: 2px;
            padding-left: 3px;
        }
    }
    .leftCenter {
        margin: 7px 1rem;
        ion-col {
            padding: 0px 3px;
            text-align: center;
        }
        ion-label {
            font-size: 13px;
            font-weight: 400;
            color: rgba(0, 0, 0, 1);
        }
        ion-input {
            --padding-start: 0px;
            border: 1px solid;
            border-radius: 10px;
            font-size: 13px;
            font-weight: 400;
            margin-top: 5px;
            --placeholder-color: #1B2E4A;
            --placeholder-opacity: 1;
        }
        #inputFiled {
            width: 30vw;
            margin-top: 10px;
            background: #10F3C0;
        }
    }
    .left {
        display: flex;
        margin: 1rem 1rem;
        align-items: center;
        ion-text {
            font-size: 13px;
            padding-top: 3px;
            color: #000000;
            font-weight: 400;
        }
        .div {
            margin-left: 3px;
            border: 1px solid;
            height: 20px;
            width: 20px;
            font-size: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        ion-label {
            font-size: 13px;
            padding-left: 13px;
            padding-right: 9px;

        }
        ion-icon {
            font-size: 13px;
        }
    }
    .smallText {
        margin: 0px 1rem;
        div {
            border: 1px solid;
            text-align: center;
            margin: 5px 0px;
            padding: 5px 18px;
            border-radius: 10px;
            font-size: 13px;
            font-weight: 400;
            margin-right: 9px;
        }
    }
    .input {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0px 1rem;
        border: 1px solid;
        border-radius: 10px;
        margin-top: 5px;
        padding: 8px 10px;
        width: 50vw;
        font-size: 13px;
        font-weight: 400;
        color: rgba(129, 129, 129, 1);
    }
    .upperText {
        display: flex;
        align-items: center;
        margin: 15px 1rem;
        color: rgba(0, 0, 0, 1);
        font-weight: 400;
        font-size: 13px;
        div {
            color: rgba(129, 129, 129, 1);
            padding-left: 4px;
        }
    }
    .lastRow{
        margin-left: 1rem;
        margin-right: 1.5rem;
        justify-content: space-between;
        font-size: 11px;
        margin-top: 10px;
        ion-label{
            font-size: 13px;
            color:#000000
        }
    }
    .leftDiv {
        display: flex;
        align-items: center;
        margin: 0px 1rem;
        div {
            border: 1px solid;
            margin-right: 6px;
            font-size: 11px;
            padding: 8px;
            border-radius: 8px;
            font-weight: 400;
            color: #4a1b3c;
            width: 30vw;
            text-align: center;
        }
        #width {
            width: 22vw;
            margin-top: 1rem;
            margin-bottom: 1rem;
            margin-left: 1rem;
        }
        #width-div {
            width: 34vw;
        }
    }
    #border {
        border-bottom: 10px solid;
        margin: 0px;
        border-color: #F5F5F5;
        margin-bottom: 10px;
    }
    ion-input {
        border: 1px solid;
        border-radius: 10px;
        font-size: 13px;
        font-weight: 400;
        color: #818181;
    }
    .border {
        border-bottom: 10px solid;
        border-color: #F5F5F5;
        margin-bottom: 10px;
    }
    .text-bottom {
        text-align: end;
        margin: 16px 1rem;
        p {
            font-size: 13px;
            font-weight: 400;
            color: #000000;
        }
        ion-icon {
            font-size: 13px;
            vertical-align: bottom;
            color: rgba(0, 0, 0, 1);
        }
    }
    .underLine {
        border: 1px solid;
        border-color: #1B2E4A;
        width: 22vw;
        float: right;
        margin: 0px 1rem;
    }
    .QtyCol {
        display: flex;
        align-items: center;
        justify-content: space-between;
        ion-text {
            font-size: 12px;
            // margin-right: 10px;
        }
        .QtyInDes {
            display: flex;
            align-items: center;
            ion-icon {
                font-size: 13px;
                border: 1px solid #1B2E4A;
                padding: 2px 4px;
                border-radius: 5px;
            }
            ion-label {
                margin: 0px 10px;
                font-size: 12px;
            }
        }
    }
    .bottomQty {
        display: flex;
        align-items: center;
        ion-icon {
            font-size: 13px;
            border: 1px solid;
            padding: 2px 4px;
            border-radius: 3px;
        }
        ion-label {
            margin: 0px 10px;
            font-size: 12px;
        }
    }
    .borderUndeline {
        border-bottom: 1px solid #1B2E4A;
        width: fit-content;
        padding-bottom: 9px;
    }
    @media screen and (width: 280px) {
        .left {
            margin-left: 9px;
            ion-label {
                padding-left: 6px;
                padding-right: 6px;
            }
        }
    }   
    @media screen and (width: 280px) {
        .leftDiv {
            div {
                width: 22vw;
            }
        }
    }
}
ion-footer {
    height: 10vh;
    background: #F5F5F5;
    .footer {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 12px;
        font-weight: 400;
        color: #818181;
        ion-icon {
            font-size: 13px;
            vertical-align: bottom;
            margin-right: 6px;
       }
    }
}