<ion-content >
  <div class="shapes-poly">
    <div class="outer-poly"></div>
    <div class="polygon">
      <div class="rect3"></div>
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect4"></div>
    </div>
    <div class="text1">
      <ion-icon src="./assets/icon/logo.svg" class="icon720"></ion-icon>
      <h4>Homexpress <span class="color-text">Pro</span></h4>
    </div>
  </div>

  <div class="mainDiv">
    <div style="padding: 1rem">
      <h2>Welcome to Homexpress Pro </h2>
      <ion-label> Pro Plan details:</ion-label><br>
      <div class="innerDiv">
        <ion-checkbox checked="true"> </ion-checkbox>
        <ion-label>Characteristic</ion-label>
      </div>
      <div class="innerDiv">
        <ion-checkbox checked="true"> </ion-checkbox>
        <ion-label>Characteristic</ion-label>
      </div>
      <div class="innerDiv">
        <ion-checkbox checked="true"> </ion-checkbox>
        <ion-label>Characteristic</ion-label>
      </div>
      <div class="innerDiv">
        <ion-checkbox checked="true"> </ion-checkbox>
        <ion-label>Characteristic</ion-label>
      </div>

      <div class="upperDiv">
        <ion-button>UPGRADE</ion-button>
      </div>
      <div class="text">
        <p>Monthly billing at 29.99 €/month.</p>
        <ion-label>Cancel subscription</ion-label>
      </div>
    </div>
    <ion-card>
      <h3>Billing History:</h3>
      <ion-row class="mainRow">
        <ion-col size="4">
          <ion-label>Value1</ion-label>
        </ion-col>
        <ion-col size="4">
          <ion-label>Value2</ion-label>
        </ion-col>
        <ion-col size="4">
          <ion-label>Value3</ion-label>
        </ion-col>
      </ion-row>
      <ion-row class="mainRow">
        <ion-col size="4">
          <ion-label>Value4</ion-label>
        </ion-col>
        <ion-col size="4">
          <ion-label>Value5</ion-label>
        </ion-col>
        <ion-col size="4">
          <ion-label>Value6</ion-label>
        </ion-col>
      </ion-row>
      <ion-row class="mainRow">
        <ion-col size="4">
          <ion-label>Value7</ion-label>
        </ion-col>
        <ion-col size="4">
          <ion-label>Value8</ion-label>
        </ion-col>
        <ion-col size="4">
          <ion-label>Value9</ion-label>
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-row style="align-items:center;">
      <h3>Payment Method:</h3>
      <img src="./assets/visa.png" alt="">
    </ion-row>
    <div>
      <p>Credit/Debit card information:</p>
      <ion-row class="innerRow">
        <ion-col size="6">
          <label class="font">First Name</label>
          <ion-input placeholder="First Name"></ion-input>
        </ion-col>
        <ion-col size="6">
          <label class="font">Last Name</label>
          <ion-input placeholder="First Name"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row class="innerRow">
        <ion-col>
          <label class="font">Card number</label>
          <ion-input placeholder="Card number"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row class="innerRow">
        <ion-col size="6">
          <label class="font">Expiration date</label>
          <ion-input placeholder="(MM/YYYY)"></ion-input>
        </ion-col>
        <ion-col size="6">
          <label class="font">CVV</label>
          <ion-input placeholder="CVV"></ion-input>
        </ion-col>
      </ion-row>
      <div style="text-align:end ; margin: 1rem 1rem; height: 100px;">
        <ion-button class="btn">UPGRADE</ion-button>
        <p class="pragraph">
          <ion-icon name="chevron-back-outline" style="vertical-align:bottom; color: #1B2E4A;"></ion-icon> Back to Pro
          Plan details
        </p>
      </div>
    </div>
  </div>
</ion-content>