ion-content{
     .shapes-poly {
            position: absolute;
            left: -45px;
            top: 0;
        }
        .outer-poly {
            background: #10F3C0;
            height: 160px;
            width: 207px;
            position: absolute;
            left: -25px;
            top: 0px;
            transform: skew(-30deg);
            box-shadow: 0px 4px 10px rgb(0 0 0 / 10%);
        }
        .polygon {
            position: absolute;
            left: 90px;
            top: -30px;
        }
        .polygon .rect1 {
            width: 120px;
            height: 80px;
            transform: skew(30deg);
            background: #10F3C0;
            box-shadow: 0px 7px 10px rgb(0 0 0 / 10%);
            border-radius: 3px;
            position: relative;
            top: 5px;
            left: -15px;
        } 
        .polygon .rect2 {
            width: 120px;
            height: 75px;
            transform: skew(-30deg);
            background: #10F3C0;
            position: relative;
            top: -71px;
            left: 30px;
            border-radius: 3px;
        }
        .polygon .rect3 {
            width: 120px;
            height: 80px;
            transform: skew(-30deg);
            background: #10F3C0;
            position: relative;
            top: 5px;
            left: -15px;
            box-shadow: 0px 4px 10px rgb(0 0 0 / 10%);
            border-radius: 3px;
        }
        .polygon .rect4 {
            width: 120px;
            height: 75px;
            transform: skew(30deg);
            background: #10F3C0;
            position: relative;
            top: -220px;
            left: 30px;
            border-radius: 3px;
        }
        .text1 {
            ion-icon {
                font-size: 38px;
            }
            color: white;
            position: relative;
            left: 40%;
            top: 45px;
            display: flex;
            align-items: center;
            h4 {
                margin: 0px 2px;
                font-size: 20px;
                span {
                    // color: #FAFF00;
                     color: linear-gradient(221.66deg, #FAFF00 27.94%, #FFB800 135.82%);
                }
            }
        }
         .mainDiv {
                padding: 0.5rem;
                position: absolute;
                top: 23%;
                left: 0;
                right: 0;
                bottom: 0;
                ion-label{
                    font-size: 16px;
                    font-weight: 400;
                    color: #1B2E4A;
                }
                h2 {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 27px;
                    color: #1B2E4A;
                    margin-bottom: 2rem;
                }
            }
            .innerDiv {
                        display: flex;
                        align-items: center;
                        margin-top: 1rem;
                        ion-checkbox {
                            margin-right: 1rem;
                            --background-checked: #10F3C0;
                            --border-color-checked: #10F3C0;
                        }
                        ion-label{
                            font-size: 13px;
                            font-weight: 400;
                            font-style: italic;
                            color: #818181;
                        }
                    }
             .upperDiv {
                     margin-top: 1rem;
                    text-align: center;
                    
                 ion-button {
                 font-style: normal;
                font-weight: 700;
                 font-size: 12px;
                 line-height: 16px;
                 color: #1B2E4A;
                  --background: #10F3C0;
                  --border-radius: 100px;
                  width: 77vw;
                  }
                  }
                  .text {
                        text-align: end;
                        margin: 10px 16px;
                        p {
                            margin: 4px 0px;
                            font-style: normal;
                            font-weight: 700;
                            font-size: 12px;
                            line-height: 16px;
                            text-align: right;
                            color: #818181;
                            margin: 0px;
                        }
                        ion-label {
                            font-style: normal;
                            font-weight: 700;
                            font-size: 12px;
                            line-height: 16px;
                            text-align: right;
                            color: #818181a1;
                            text-decoration: underline;
                        }
                    } 
                    ion-card {
                            padding: 1rem 1rem;
                            border-radius: 10px;
                            padding-bottom: 2rem;
                            h3 {
                                text-align: center;
                                font-style: normal;
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 22px;
                                text-align: center;
                                color: #1B2E4A;
                            }
                            .mainRow {
                                text-align: center;
                                ion-col {
                                    border: 1px solid;
                                }
                                ion-label {
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 10px;
                                    line-height: 14px;
                                    color: #1B2E4A;
                                }
                            }
                        }
                         h3 {
                                padding-left: 1rem;
                                font-weight: bold;
                                font-size: 16px;
                                line-height: 22px;
                                color: #1B2E4A;
                                font-weight:700;
                            }
                            p {
                                padding-left: 1rem;
                                font-size: 16px;
                                line-height: 16px;
                                color: #1B2E4A;
                                font-weight: 400;
                            }
                            .innerRow {
                                margin: 0px 1rem;
                                .font{
                                    font-size: 12px;
                                    line-height: 22px;
                                    color: #1B2E4A;
                                    font-weight: 400;
                                }
                                ion-input {
                                    font-size: 12px;
                                    border: 1px solid;
                                    border-radius: 10px;
                                    color: #818181;
                                    margin: 7px 0px;
                                }
                            }
                            .btn {
                                font-style: normal;
                                font-style: bold;
                                font-weight: bold;
                                font-size: 11px;
                                line-height: 11px;
                                text-align: center;
                                color: #1B2E4A;
                                --background: #10F3C0;
                                --border-radius: 100px;
                                width: 35vw;
                                padding-top: 4px;
                            }
                            .pragraph {
                                font-size: 10px;
                                Line-height: 11px;
                                Line-height: 100%;
                                Vertical-align: Top;
                                margin:10px 0px
                            }          
                
                    }
                    .color-text {
                        font-weight: 700;
                        font-size: 20px;
                        background: linear-gradient(to left, rgba(250, 255, 0, 1), rgba(255, 184, 0, 1));
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                           }


