<ion-content>
  <div class="center">
  <h2>Sign in to your account</h2>
  <p class="pragraph">To sign in to your account, enter your email address,<br>and your password</p>
  <ion-item>
    <ion-input placeholder="Email address"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="Password"></ion-input>
  </ion-item>
  <div class="ion-text-center">
    <ion-button expand="blcok"  routerLink="/personalaccount">SIGN IN</ion-button>
    <p>Forgot your Password?</p>
    <ion-label routerLink="/welcome">Back to start</ion-label>
  </div>
  </div>
  </ion-content>
  