<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="myproperties">
      <img src="./assets/icon/tab_1.png">
      <ion-label>My Properties</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="mydemands">
      <img src="./assets/icon/tab_2.png">
      <ion-label>My Demands</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="proplan" class="height80px">
    <img src="./assets/octa2.svg" class="rotate-45">      
        <img src="./assets/icon/tab_3.png" class="filter-bright">      
    </ion-tab-button>
    <ion-tab-button tab="mymatches2" >
       <img src="./assets/icon/tab_4.png">
      <ion-label>My Matches</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="myprofile">
      <img src="./assets/icon/tab_5.png">
      <ion-label>My Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
 