ion-tab-button{
    font-size: 10px;
    --padding-start:0px;
    --padding-end:0px
    img{
        height: 32px;
       width: 32px;
    }   
}
.filter-bright{
    filter: drop-shadow(2px 4px 6px black);
    position: absolute;
}
.rotate45{
    height: 56px;
    overflow: hidden;
    position: relative;
    top: -10px; 
}
    .height80px{
    --background: transparent;  
    position: relative;
    top: -15px;
    left: 3px;
    right: 0px;
    bottom: 0px;
    height: 12vh;    
}
.rotate-45{  
    transform: rotate(30deg);
}
ion-tab-bar{
    contain: unset;
}
ion-label{
    margin-top:3px;
}

