<ion-content>
  <div class="content">
    <ion-label>I want to signup for<br> Homexpress's Newsletter</ion-label>
  </div>
  <div class="mainDiv">
    <ion-button>No</ion-button>
    <ion-button class="btn" routerLink="/newsletter">Yes</ion-button>
  </div>
  <div class="center"> 
    <ion-label>STEP 3/3</ion-label>
    <p style="margin-top: 1rem"  routerLink="/login">Back to step 2/3</p>
  </div>
  <div class="ion-text-center" style="margin-top: 4rem">
    <ion-text>You can always come back and change them later.</ion-text>
  </div>
</ion-content>
