ion-content {
    --background: #1B2E4A;
.logo{
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    ion-icon{
        font-size: 72px;
    }
}
    h2 {
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 44px;
        color: #FFFFFF;
        margin-left: 10px;
        margin-top: 10px;
    }

}