<ion-header>
  <ion-toolbar>
    <div class="header-icon">
      <ion-icon name="chevron-back-outline"></ion-icon>
     <div class="box"></div>
     <div class="headerTitle">
       <h1>[Property Name]</h1>
       <h2>by [Name]</h2>
     </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content> 
<div class="ion-text-center">
  <div style="display:flex;justify-content:center">
    <div class="mainDiv"></div>
  </div>
  <p>Start a conversation with your new match</p>
   <h2> [Property Name] by @username</h2>
  <ion-button>VIEW MATCH</ion-button>
</div>
</ion-content>
<ion-footer>
  <div class="mainDiv">
    <div></div>
    <div></div>
    <ion-input placeholder="Aa"></ion-input>
    <img src="./assets/icon/Polygon 1.png" alt="">
  </div>
</ion-footer>
