
    ion-header {
        .header {
            align-items: center;
            display: flex;
            justify-content: center;
        }
        .box{
            margin-left: 6px;
            height: 33px;
            width: 55px;
            background: #D9D9D9;
        }
    .header-icon {
        display: flex;
        align-items: center;
        padding: 10px;
    
        ion-icon {
            color: rgba(27, 46, 74, 1);
            font-size: 23px;
        }
    }
    .headerTitle {
        margin-left: 6px;
    
        h1 {
            font-size: 14px;
            font-weight: 700;
            color: #000000;
            margin: 0px;
        }
    
        h2 {
            font-size: 14px;
            font-weight: 400;
            margin: 0px;
            color: #1B2E4A;
            margin-top: 3px;
        }
    }
}

ion-content {
    .mainDiv {
        height: 90px;
        width: 150px;
        background: #D9D9D9;
        margin-top: 2rem;
    }

    p {
        font-size: 700;
        font-size: 15px;
        margin: 5px 0px;
        margin-top: 1rem;

    }

    h2 {
        font-size: 15px;
        font-weight: 700;
        color: #1B2E4A;
        margin: 0px;
    }

    ion-button {
        font-size: 13px;
        font-weight: 700;
        --background: #10F3C0;
        --border-radius: 100px;
        margin-top: 1rem;
        width: 45vw;
        padding-top: 1px;
    }
}