<ion-content>
  <div class="maincontent">
    <ion-icon src="./assets/icon/logo.svg"></ion-icon>
    <h1>homexpress</h1>
  </div>
  <div  class="mainDiv">
    <h2>Hello! To continue, please <br>choose one option:</h2>
    <ion-button expand="block" routerLink="/signup">Create Account</ion-button>
    <ion-button expand="block" class="btn"  routerLink="/login">SIGN IN</ion-button>
  </div>
  <div class="ion-text-center" style="margin-top:7rem">
    <ion-label>By Tapping "Create account" or "Sign in", you agree to our </ion-label><br>
    <ion-label style="text-decoration: underline;">Terms and conditions</ion-label><br>
    <p class="text"> Trouble signing in?</p>
  </div>
</ion-content>

