<ion-content>
  <div class="center">
  <h2>Create an account</h2>
  <p class="pragraph">To Create an account, enter your username, your email address, and your password</p>
  <ion-item>
    <ion-input placeholder="Username"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="Email address"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="Password"></ion-input>
  </ion-item>
  <div class="ion-text-center">
    <ion-button expand="blcok" >Create  account</ion-button>
    <p>Already have an account? <a routerLink="/login">Sign in</a></p>
    <ion-label routerLink="/welcome">Back to start</ion-label>
  </div>
  </div>
  </ion-content>
  