ion-title {
    padding: 0px 1rem;
    .Header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        ion-icon {
            color: #1B2E4A;
        }
        ion-label {
            font-weight: Bold;
            font-size: 13px;
            Line-height: 16px;
            Line-height: 100%;
            color: #1B2E4A;
        }
    }
}
ion-content {
    ion-text {
        font-style: italic;
        font-weight: 400;
        font-size: 11px;
        line-height: 15px;
        color: #000000;
        text-align: justify;
    }
    .mainDiv {
        background: #F5F5F5;
        padding: 18px;
    }
    h2 {
        font-size: 17px;
        font-weight: bold;
        line-height: 22px;
        margin: 0px;
    }
    ion-label {
        color: #818181;
        font-size: 12px;
        Line-height: 14px;
        font-weight: 400;
    }
    .middelDiv {
        border-bottom: 10px solid;
        border-color: #F5F5F5;
        margin-top: 1rem;
        margin-bottom: 1rem;
        ion-row {
            justify-content: space-between;
            align-items: center;
            margin: 10px 1rem;
            h3 {
                margin: 0px;
                font-size: 13px;
                Line-height: 18px;
                Line-height: 100%;
                text-Align: Left;
                font-weight: 700;
            }
            .check-box-div {
                height: 20px;
                width: 20px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid black;
            }
            .custom-check-box {
                margin: 0px;
                --border-radius: 40px;
                height: 15px;
                width: 15px;
                --background-checked: white;
                --border-color-checked: white;
                --checkmark-color: black;
                border-radius: 8px;
                --background: white;
                --border-color: white;
            }
            ion-checkbox {
                --border-radius: 40px;
                height: 15px;
                width: 15px;
                margin-top: 6px;
                --background-checked: white;
                --border-color-checked: #FFB800;
                --checkmark-color: #FFB800;
                border-radius: 8px;
            }
            p {
                margin: 0px;
                font-weight: 400;
                font-size: 13px;
                line-height: 100%;
            }
        }
    }
    .upperDiv {
        margin: 0px 1rem;
        span {
            font-weight: 400;
            font-size: 11px;
            color: rgba(129, 129, 129, 1);
            margin-left: 5px;
        }
    }
    .box {
        text-align: center;
        background: #D9D9D9;
        height: 33vh;
       margin-top: 1rem;
       margin-bottom: 1rem;
        ion-searchbar {
            --border-radius: 10px;
            padding:1rem 2rem;
            --background: white;
            .searchbar-input-container {
                input{
                    font-size: 13px !important;
                }
            }
        }
        img{
            margin-top: 2rem;
        }
    }
    .middelRow {
        ion-row {
            padding-left: 1rem;
            margin-top: 1rem;
        }
        ion-item {
            border: 1px solid #1B2E4A;
            border-radius: 10px;
            margin: 0px;
            max-height: 35px;
            margin-top: 4px;
        }
        ion-label {
            font-size: 13px;
            font-weight: 400;
            color: rgba(0, 0, 0, 1);
        }
        span {
            color: rgba(255, 0, 0, 1);
        }
    }
    .border{
        border-bottom: 10px solid;
        border-color: #F5F5F5;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .upperRow{
        margin: 8px 1rem;
        div{
            display: flex;
            align-items: center;
        }
        ion-input{
            border: 1px solid;
            font-size: 12px;
            border-radius: 10px;
            margin-left: 10px;
        }
        ion-item{
            border: 1px solid;
            border-radius: 10px;
            max-height: 37px;
            margin-left: 10px;
        }
        ion-checkbox{
            --background-checked:#10F3C0;
            --border-color-checked: #10F3C0;
        }
    }
    .footerRow{
        margin: 16px 1rem;
        justify-content: space-between;
        ion-label{
            color: #000000;
            font-weight: 400;
           }
           ion-icon{
            vertical-align: middle;
           }
    }
}
ion-footer {
    height: 10vh;
    background: #F5F5F5;
    .footer {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 12px;
        font-weight: 400;
        color: #818181;
        ion-icon {
            font-size: 13px;
            vertical-align: bottom;
            margin-right: 6px;
       }
    }
}